/* .monaco-editor .squiggly-error {
    text-decoration: none !important;
    border-bottom: 1px solid #F07178 !important;
    font-weight: bold !important;
    background: none !important;
    background-image: none !important;
    color: #F07178 !important;
} */